@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

/* Reset CSS */
.body-SN {
  font-family: Arial, sans-serif;
}

.h1-SN {
  text-align: center;
  margin-top: 2rem;
}

.integrantes {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 1rem;
}

.integrantes > .div-pessoas {
  flex: 0 0 21rem;
  margin: 1rem;
  scroll-snap-align: center;
  background-color: var(--verde-escuro);
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.integrantes::-webkit-scrollbar {
  display: none;
}

.integrantes {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.integrantes > .div-pessoas:hover {
  transform: scale(1.1);
}

.integrantes p {
  margin-bottom: 1rem;
  background-color: var(--verde-escuro);
  color: var(--fundo);
  padding: 0.5rem;
}

.titulo-SN {
    font-size: 1.5rem;
    font-weight: 900;
}

.integrantes img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}