header {
    background-color: #1E3932;
    height: 100px;
}

.barra-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    background-color: #1E3932;
}

.barra-menu img {
    height: 5rem;
    width: auto;
    background: none;
}

nav ul li a {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #1E3932;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.container img{
    border: 1px solid red;
    background: none;
    width: 550px;
    height: 450px;
    margin-right: 20px;
}

.texto h1 {
    margin-left: 60px;
    margin-top: 120px;
    font-size: 3.2rem;
    width: 700px;
    height: 300px;
    color: var(--verde-escuro)
}

.aprenda img{
    height: 604px;
    width: 436px;
    left: 103px;
    top: 1288px;
    border-radius: 104px;
}

.titulo button{
    color: #FFFFFF;
    width: 160px;
    height: 30px;
    border: none;
    background: none;
    background-color: var(--rosa);
    border-radius: 15px;
    cursor: pointer;
}

.titulo img{
    width: 32px;
    height: 32px;
}

.titulo{
    margin-left: 500px;
    width: 800px;
    margin-top: -550px;
}